@media (max-width:560px){   
.banner{
    height: 50vh;
}

 /* To hide elements in mobile */
.header .child:nth-child(1),.nav,.pre-button ,.next-button ,.desktop,.nav-parent{
    display: none;
}
.mob{
    display: inline-block !important;   
}
/* end */

 /* back to top button  */
.btt{
    margin-left: 85%;
}

/* mobile navigation  */
.mob-nav{
    width: 65%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 100;
    margin-top: 60px;
    font-family: 'Poppins', sans-serif;
    /* list-style-type:none; */
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: -65%;
    transition: .4s;
}
.mob-nav>ul>li{
    padding: 15px;
    cursor: pointer;
}
.mob-nav>ul>li:first-child{
    color: white;
    background-color: #0473db;
}
.header{
    position: fixed;
    z-index: 110;
}

 
.banner{
     align-items: flex-start;
 }
 .banner-content{
    width: 100%;
   } 
.header{
    background-color: white;
    align-items: center;
}
.banner-details .heading > h1{
    margin-top: 50px;
     font-size: 32px;
    line-height: 50px;
    text-align:center ;
}
        
.banner-para > p{
    font-size: 16px;
    text-align: center;
}
.banner-details .banner-btn {
    display: flex; 
    justify-content: center;
}
.banner-details .banner-btn .btn{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 40px;
    width: 130px;
    background-color: #f8ea49;
    border-radius: 8px;
    border: 2px solid #f8ea49;
}
.banner-details{
    margin-top: 100px;
}
.banner-details .banner-para{
    padding-top: 15px;
    padding-bottom: 30px;
    /* font-family: 'Poppins', sans-serif;
    font-size: 18px; */
    /* font-weight: bold; */
    /* letter-spacing: 1px;
    color: #FFFFFF80; */
}
.en{
    background-color: #0473db;
}
.header .child{
    color: black;
    align-items: center;
}
.child .logo{
    background-size: cover;
    background-position: center center;
    /* background-color: #f8ea49; */
}
.menu-dots,.menu-lines{
    display: flex !important;
    flex-direction: column; 
    justify-content:space-around;
    align-items: center;     
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    color: black;
    cursor: pointer;
} 
 .head-line{
    height: 3px;
    width: 25px;
    color: black !important; 
    margin-left: 20px;
    
}

.head-dot{
    height: 6px;
    width: 6px;
    border-radius: 60%;
    color: black !important;
    
}
.logo{
    width: 100px;
}
     
 /* css for Destination  */
 
 .destination{
     height: 1700px;
 }
.container{
    width: 100%;
}
.dest-cards .cards{
    border: none;
    
}
.dest-cards .cards{
    border: 1px solid rgb(225, 225, 225);
   
}
.dest-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dest-cards .cards{
    width: 75%;
    padding-bottom: 200px;
    margin-bottom: 40px;
}
.dest-cards:hover .cards{
    transform:scaleX(1) scaleY(1);
}
.cards:hover{
    transform: scale(1);
    box-shadow: none;
}
.cards:hover img{
    border: 1px solid #e1e1e1;
}

/* css for features  */
.features{
    height: 100%;
    background-image: none;
    background-color: #eff3f8;
    flex-direction: column;   
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}
.equipment{
    width: 90%;
    margin-bottom: 70px;
}
.eq{
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}
.eq-child{
    flex-direction: column;
}
.equipment:nth-child(1) .eq-child{
    flex-direction: column-reverse;
    align-items: center;
}
.rf{
    text-align: center;
}
.lf{
    text-align: center;
}
.brd{
    border: none;
}
.eq-img>img{
    width: 60px;
}
.eq-title{
    font-size: 20px;
}

/* end of css features  */

/* css for about-us  */
.about-us{
    /* height: auto; */
    padding-top: 80px;
    padding-bottom: 40px;
}
.divers-hero{
    flex-direction: column;
    height: 90%;
    width: 90%;
}
.divers-services{
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    margin-top: 80px;
}
.divers-services .services-location{
    width: 90%; 
    flex-direction: column;
    margin-bottom: 30px;
}
.services-content{
    text-align: center;
}
.divers-hero .divers-title{
    font-size: 22px;
    text-align: center;
}
.list-points{
    font-size: 14px;
    padding: 15px 0 15px 20px;
}
.services-title{
    font-size: 20px;
}
/* .divers-services .services-location{
    justify-content: center;
}
 */
  
/* end of css about-us */

/* css for testimonials */
.testimonial{
    padding-top: 40px;
    padding-bottom: 40px;
}
.slider-text{
    font-size: 16px;
}
.testimonial>.title{
    font-size: 22px;
}
.testimonial-slider{
    width: 95%;
}
.slider-text .user{
    margin-top: 50px;
    width: 100%;
    display: flex !important;
}


/* end of css testomonials */








/* css for details  */
.details{
    height: auto;
}
.child{
    width: 20%;
}
.details .stats .child .number{
    font-size: 26px;
    line-height: 1.12069;   
    
}
.stats-text{
    font-size: 14px;
}
.details .stats .child{
    height: 125px;
}
.stats-line{
    margin-top: 10px;
    margin-bottom: 14px;
}
.details .stats{
    flex-direction: column  ;
    height: 300px;
    justify-content: center;
} 
/* end of css of details  */

.newsletter{
    height: auto;
    width: 100%;
}
.news-content{
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.news-content .news-heading h1{
    text-align: center;
    font-size: 22px;
}
.news-input{
    width: 95%;
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    padding-top: 12px;
}
.form-input{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-height: 50px;
    padding: 10px 0px;
}
.news-btn{
    width: 95%; 
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: inherit;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}
  /* end of css details  */

  /* css for instructor  */
.instructors{    
    height: auto;
    padding-top: 50px;
}
.insta-title{
    font-size: 22px;   
    margin-bottom: 25px;   
}
.wrapper{
    
    flex-direction: column;
    align-items: stretch;
}
   /* end of css instructors  */

/* css for blog section  */
.blog{
    height: auto;
    padding-top: 50px;
}
.blog-title{
    font-size: 22px;
    padding-bottom: 25px;   
}
.blog-cards{
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 100%;
    margin-left:100%;
} 
.card img{
    height: auto;
    max-width: 100%;
}
   
/* css for footer  */
.footer{
    height: auto;
    padding-top: 50px;
}
.footer-main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-gallery{
    height: auto;
    width: 100%;
    /* background-color:darkorange; */
}
.footer-gallery img{
    display: inline-block;
    max-width: 100%;
    height: 150px;
     
}
.gallery-title{
    font-size: 16px;
    text-align: center;
}
.footer .footer-details{
    width: 90%;
    text-align: center;
}
 .footer-details .details-title{
    /* margin-top: 25px; */
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
}
.quick-links{
    margin-top: 25px;
    margin-bottom: 25px;
    width: 90%;
}
.links-list{
    margin-top: -128px;
}
.details-list{
    width: 100%;
}
.footer-details .details-title{
    font-size: 16px;
}
.inner-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-details{
     font-size: 13px;
}

  /* css for gallery  */
.gallery{
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

  }
.gallery-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.g-img>.gimage {
    position: static;
}
.g-img{
    width: 270px;
    height: auto;
    flex-direction: column;
}
.gimage>img{
    width: 100%;
    height: auto;
} 
.goverlay{
    position: static;
    width: 100%;
    height: 100px;
    display: none;
}
.over-details{
    position:static;
    background-color: #f9faf9;
}
.over-title{
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}
.g-img:hover .over-title{
    color: rgba(0, 0, 0, 1);
}
.over-content{
    height: 160px;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.zoom-icon{
    background-color: rgba(4, 115, 219, 1);
    color: rgba(255, 255, 255, 1);
    margin-left: 0px;
    margin-top: 0px;
}
.g-img:hover .zoom-icon{
    margin-left: 0px;
    margin-top: 0px;
}
.g-img:hover .over-content{
    height: 160px;
}

}