@media (max-width:560px){   
.banner{
    height: 50vh;
}

 /* To hide elements in mobile */
.header .child:nth-child(1),.nav,.pre-button ,.next-button , .desktop{
    display: none;
}
.mob{
    display: inline-block;
}
/* end */

.banner{
    align-items: flex-start;
 }
 .banner-content{
    width: 100%;
}
.header{
    background-color: white;
    align-items: center;
}
.banner-details .heading > h1{
    margin-top: 50px;
     font-size: 32px;
    line-height: 50px;
    text-align:center ;
}
        
.banner-para > p{
    font-size: 16px;
    text-align: center;
}
.banner-details .banner-btn {
    display: flex; 
    justify-content: center;
}
.banner-details .banner-btn .btn{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 40px;
    width: 130px;
    background-color: #f8ea49;
    border-radius: 8px;
    border: 2px solid #f8ea49;
}
.banner-details{
    margin-top: 20px;
}
.banner-details .banner-para{
    padding-top: 15px;
    padding-bottom: 30px;
    /* font-family: 'Poppins', sans-serif;
    font-size: 18px; */
    /* font-weight: bold; */
    /* letter-spacing: 1px;
    color: #FFFFFF80; */
}
.en{
    background-color: #0473db;
}
.header .child{
    color: black;
    align-items: center;
}
.menu-dots,.menu-lines{
     display: flex;
      flex-direction: column; 
     justify-content:space-around;
     align-items: center;     
     padding-left: 15px;
     padding-right: 15px;
     height: 25px;
} 
 .head-line{
     height: 3px;
     width: 25px;
     background-color: black;
    margin-left: 20px;
 }

.head-dot{
     height: 6px;
    width: 6px;
    border-radius: 60%;
    background-color: black;
}
.logo{
    width: 100px;
}
     
 /* css for Destination  */
 
 .destination{
     height: 1700px;
 }
.container{
    width: 100%;
}
.dest-cards .cards{
    border: none;
    
}
.dest-cards .cards{
    border: 1px solid rgb(225, 225, 225);
   
}
.dest-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dest-cards .cards{
    width: 75%;
    padding-bottom: 200px;
    margin-bottom: 40px;
}
.dest-cards:hover .cards{
    transform:scaleX(1) scaleY(1);
}
.cards:hover{
    transform: scale(1);
    box-shadow: none;
}
.cards:hover img{
    border: 1px solid #e1e1e1;
}

/* css for features  */
.features{
    height: 100%;
    background-image: none;
    background-color: #eff3f8;
    flex-direction: column;
    align-items: center;
}
.equipment{
    width: 90%;
}
/* end of css features  */

/* css for details  */
.details{
    height: auto;
}
.details .stats .child .number{
    font-size: 26px;
    line-height: 1.12069;   
    
}
.stats-text{
    font-size: 14px;
}
.details .stats .child{
    height: 125px;
}
.stats-line{
    margin-top: 10px;
    margin-bottom: 14px;
}
.details .stats{
    flex-direction: column  ;
} 
/* end of css of details  */

.newsletter{
    height: auto;
    width: 100%;
}
.news-content{
    /* width: 100%; */
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.news-content .news-heading h1{
    text-align: center;
    font-size: 22px;
}
.news-input{
    width: 95%;
    border: 1px solid #e1e1e1;
    border-width: 0 0 1px 0;
    padding-top: 12px;
}
.form-input{
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    min-height: 50px;
    padding: 10px 0px;
}
.news-btn{
    width: 95%; 
    padding-top: 9px;
    padding-bottom: 9px;
    min-height: inherit;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}
  /* end of css details  */

  /* css for instructor  */
.instructors{    
    height: auto;
    padding-top: 50px;
}
.insta-title{
    font-size: 22px;   
    margin-bottom: 25px;   
}
.wrapper{
    
    flex-direction: column;
    align-items: stretch;
}
   /* end of css instructors  */

/* css for blog section  */
.blog{
    height: auto;
    padding-top: 50px;
}
.blog-title{
    font-size: 22px;
    padding-bottom: 25px;   
}
.blog-cards{
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card{
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 100%;
    margin-left:100%;
} 
.card img{
    height: auto;
    max-width: 100%;
}
   
/* css for footer  */
.footer{
    height: auto;
}
.footer-main{
    height: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.footer-gallery{
    width: 95%;
    /* background-color:darkorange; */
}
.footer-gallery img{
    display: inline-block;
}


}