    /* google fonts import */
    
    /* for heading  */
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

    /* for normal text  */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    /* Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

    /* Normal text  */
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

 /* global css */
.container{
    width: 65%;
    display: flex;
}
.title{
    font-family: 'Comfortaa', cursive;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-top: 65px;
}
.gallery-img{
    height: 100%;
    background-color: red;
}

 /* CSS for banner */
 .banner{
    height: 97vh;
    width: 100%;
    background-image: url('/img/slide-1.jpg');
    background-size: cover;
    display: flex;
    justify-content:space-between;
    align-items:center;  
     
}
.pre-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 10px;
    letter-spacing: 1px;
}
.slider_btn{
    cursor: pointer;
}
.slider_btn:hover > .btn-line{
    transform: scaleX(.6);
}
.pre-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 10px;
    transition: .3s;
}
.banner-content{
    height: 90%;
    width: 60%;
    /* background-color:white; */
}
.header{
    color: white;
    width:100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.child{
    font-family: 'Lato', sans-serif;
    width: 25%;
    /* background-color:darkgray; */
    font-weight: 400;
}
.child:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 
.child:nth-child(3){
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}
.en{
    color: black;
    font-size: 17px;
    height: 32px;
    width: 32px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
}

/* css for navigation */
.nav{
    margin-top: 30px;
    width: 100%;
    height: 70px;
    border-top:1px solid rgba(255, 255, 255, 0.23);
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    display: flex;
    justify-content: center;
    /* background-color: white; */
}
.nav>ul{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.nav>ul>li{
    font-family: 'Poppins', sans-serif;
    list-style-type:none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 70px;
    transition: 0.3s;
    cursor: pointer;
}
.nav>ul>li:hover{
    color: #f8ea49;
}
.nav>ul>li:first-child{
    color: #f8ea49;
}

/* css for banner-content  */
.banner-details{
    margin-top: 90px;
    width:100%;
    height: 400px;
    /* background-color: white; */
}
.banner-details .heading{
    color: white;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
.banner-details .banner-para{
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    color: #FFFFFF80;
} 
.banner-details .banner-btn .btn{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 60px;
    width: 170px;
    background-color: #f8ea49;
    border-radius: 8px;
    border: 2px solid #f8ea49;
}

.next-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 17px;
    letter-spacing: 1px;
}

.next-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 17px;
    transition: .3s;
}

/* Css for Destination  */

.destination{
    height: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #ffffff;
}
.dest-cards{
    margin-top: 40px;
    height: 400px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.dest-cards .cards{
    height: 60%;
    width: 29%;
    border: 1px solid gray;
    padding: 15px;
    transition: .25s;
    /* background-color: yellow;    */
    /* border: 2px solid black; */
} 
.cards img{
    height: 100%;
    width: 100%;
}  
.cards .card-heading{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .02em;
}
.cards .card-para{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #777777;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02em;
}
.destination-btn{
    text-align: center;
    margin: 22px;
    position: relative;
  
}
.dest-btn{
    font-size: 14px;
    font-family: 'poppins','sans-serif';
    letter-spacing: .05em;
    border-bottom: 2px solid #a3a3a3;
    background-color: transparent;
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
   
}
.dest-cards:hover .dest-btn{
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    letter-spacing: .05em;
    padding-right: 22px;
    padding-left: 22px;
    border: 2px solid #0473db;
    color: #0473db;
    border-radius: 5px;
}
.cards:hover{
    transform: scale(1.07);
    box-shadow: 0 0 20px lightgray;
}

.dest-img{
    box-sizing: border-box;
    width: 100%;
    height: 270px;
    border: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    transition: .25s;

}
.dest-cards:hover .dest-img{
    border:none;
}
.dest-cards>img{
    transition: .25s;
}
.cards:hover .cards>img {
    transform:scaleX(1.09) scaleY(1.1);
}

/* Css for features section  */
.features{
    width: 100%;
    height: 625px;
    background-image: url('/img/BG_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.equipment{
    width: 38%;
    height: 350px;
    
} 
.equipment:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.eq{
    width: 50%;
    height: 175px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.eq-child{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.rf{
    text-align: right;
}
.eq-title{
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    
}
.eq-title:hover{
    color: #0473db;
}
.eq-para{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    line-height: 22px;
    letter-spacing: .025em;
}
.brd{
    border-bottom:1px solid #e1e1e1;
}
.equipment>.eq:nth-child(2){
    align-items: flex-end;
}


/* css for Details */

.details{
    height: 400px;
    width: 100%;
    background-image: url('/img/stats_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.details .stats{
    /* width: 100%; */
    height: 400px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content:space-between;
    align-items: center ;
  
}

.details .stats .child{
    height: 200px;
    width: 200px;
    /* background-color:black; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.details .stats .child .number{
    font-family: 'Comfortaa', cursive;
    font-size: 58px;
    font-weight: 700;   
    color: white;
}
.stats-line{
    width: 25%;
    border-bottom: 2.5px solid white;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 24px;
}
.stats-text{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.35px;
}

/* Css for About-us  */
.about-us{
    padding-top: 150px;
    padding-bottom: 100px;
    /* background-color: cornflowerblue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divers-hero{
    height: 600px;
    /* background-color: darkcyan; */
    display: flex;
    justify-content:space-evenly;
}
.divers-hero img{
     height: 90%;
}
.divers-hero .divers-title{
    font-size: 44px;
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    color: #151515;
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: left;
    /* margin-left: -30px; */
} 
.list-points{
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    padding: 30px 0 30px 66px;
    line-height: 1.6;
    letter-spacing: .02em;
    border-bottom: 1px solid #e1e1e1;
    text-align: left;
    font-weight: 500;
    color: #151515;
}
.divers-services{
    height: 150px;
    /* background-color: darkorange; */
    display: flex;
    justify-content: space-around;
}
.divers-services .services-location{
    height: 100%;
    width: 30%;
    border: 1px solid #e1e1e1;
    /* background-color:cyan; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
/* .services-content{
    padding-left: 5px;
} */
.services-title{
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    font-weight: 700;
    color: #151515;
}
.services-desc{
    margin-top: 4px;
    font-size: 15px;
    line-height: 1.6;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    font-weight: 400;
    letter-spacing: .05em;
}
 

 /* Css for testimonials */
 .testimonial{
    padding-top: 110px;
    padding-bottom: 80px;
    background-color: #eff3f8;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.testimonial>.title{
    margin: 0px;
}

.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}


.testimonial-slider{
    width: 80%;
    /* background-color: red; */
    overflow: hidden;
}

.testimonial-slider>.slider{
    width: 300%;
    /* background-color: yellow; */
    display: flex;
    animation-name: testText;
    animation-duration: 20s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: alternate;
    animation-delay: 4s;
}

.slider-text{
    width: 33.3333%;
    /* background-color: green; */
    font-size: 18px;
    font-family: 'poppins','sans-serif';
    text-align: center;
    color: #777777;
    
}

@keyframes testText {
    
    3%{
        margin-left: -100%;
    }

    25%{
        margin-left: -100%;
    }

    28%{
        margin-left: -200%;
    }

    50%{
        margin-left: -200%;
    }

    53%{
        margin-left: -100%;
    }

    75%{
        margin-left: -100%;
    }

    78%{
        margin-left: 0%;
    }

    100%{
        margin-left: 0%;
    }


}


.testimonial-users{
    width: 70%;
    height: 200px;
    /* background-color: red; */
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    
}

.user{
    width: 25%;
    /* background-color: green; */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-img{
    height:85px;
    width: 85px;
    border-radius: 50%;
    background-color: red;
    overflow: hidden;
}

.user-title{
    font-size: 14px;
    font-family: 'poppins','sans-serif';
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 20px;
    color: #151515;

}

.user-type{
    font-size: 14px;
    font-family: 'poppins','sans-serif';
    font-style: italic;
    letter-spacing: .025em;
    color: #0473db;
}


.user:nth-child(1){
    animation-name: user1;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: alternate;
    animation-duration: 20s;
    animation-delay: 4s;
}

.user:nth-child(2){
    animation-name: user2;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: alternate;
    animation-duration: 20s;
    animation-delay: 4s;
    opacity: .5;
}

.user:nth-child(3){
    animation-name: user3;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-timing-function: alternate;
    animation-duration: 20s;
    animation-delay: 4s;
    opacity: .5;
}


@keyframes user1 {
    
    3%{
        opacity: .5;
    }

    25%{
        opacity: .5;
    }

    28%{
        opacity: .5;
    }

    50%{
        opacity: .5;
    }

    53%{
        opacity: .5;
    }

    75%{
        opacity: .5;
    }

    78%{
        opacity: 1;
    }

    100%{
        opacity: 1;
    }



    
}


@keyframes user2 {

    3%{
        opacity: 1;
    }

    25%{
        opacity: 1;
    }

    28%{
        opacity: .5;
    }

    50%{
        opacity: .5;
    }

    53%{
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    78%{
        opacity: .5;
    }

    100%{
        opacity: .5;
    }
}


@keyframes user3 {

    3%{
        opacity: .5;
    }

    25%{
        opacity: .5;
    }

    28%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    53%{
        opacity: .5;
    }

    75%{
        opacity: .5;
    }

    78%{
        opacity: .5;
    }

    100%{
        opacity: .5;
    }
}


/* CSS for gallery  */
.gallery{
    width: 100%;
    height: 900px;  
    padding-top: 120px;
    padding-bottom: 100px;
    /* background-color:lightsalmon; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .g-title{
    font-weight: 700;
    font-family: "Comfortaa", cursive;
    font-size: 44px;
    text-align: center;
}
.gallery-img{
    background-color: white;
    margin-top: 50px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    grid-template-areas: 
    "img-1 img-2 img-3 img-4"
    "img-5 img-2 img-6 img-6"
    "img-7 img-7 img-6 img-6";  
    column-gap: 30px;
    row-gap: 30px;
}
.img-1{
    grid-area: img-1;
  
}
.img-2{
    grid-area: img-2;
}
.img-3{
    grid-area: img-3;
   
}
.img-4{
    grid-area: img-4;
     
}
.img-5{
    grid-area: img-5;
     
}
.img-6{
    grid-area: img-6;
 
}
.img-7{
    grid-area: img-7;
    
}
.g-img{
    position: relative;
}
.g-img>.gimage{
    position: absolute;
}
.goverlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    transform: scale(0.8);
    transition: .4s;
    display: flex;
    align-items: center;
}
.g-img:hover > .goverlay{    
    transform: scale(1);
    background-color: rgba(255, 255, 255, 0.95);
}

.over-details{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    justify-content: center;
    
}
.over-content{
    height: 160px;
    width: 100%;
    /* background-color: yellow; */
    transition: .4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.g-img:hover .over-content{
    height: 100px;
    cursor: pointer;
    width: 270px;
}
.g-img:hover .over-title{
    color: rgba(0, 0, 0, 1);
}
.g-img:hover .zoom-icon{
    margin-left: 100px;
    margin-top: 20px;
    background-color: rgba(4, 115, 219,1);
    color: rgb(255, 255, 255,1);
}
.over-title{
    font-family: 'Comfortaa','sans-serif';
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    transition: .4s;
}
.zoom-icon{
    height: 50px;
    width: 50px;
    background-color: rgba(4, 115, 219,0);
    color: rgb(255, 255, 255,0);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    margin: 60px;
    font-size: 25px;
    transition: .4s;
    margin-top: 100px;
}




/* CSS for Newsletter  */
.newsletter{
    padding-top: 100px;
    padding-bottom: 100px;
    /* background-color:#0473db; */
    height: 120px;
    background-image: url('./newsletter-bg.jpg');
    background-size: cover;
    background-position:center center;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.news-content{
    height: 100px;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.news-content .news-heading h1{
    font-size: 44px;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    color: #ffffff;
}
.news-content .news-heading p{
    margin-top: 15px;
    opacity: .7;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.news-input{
    height: 40px;
    padding-top: 22px;
    padding-bottom: 22px;
    width: 50%;
    /* background-color: brown; */
    border-bottom: 1px solid #f5543f ;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.form-input{
    text-align: center;
    width: 99.9%;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 24px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: transparent;
    background-image: none;
    color: #ffffff;
    border: none;
    padding: 17px 0;
}
.news-btn{
    color: #151515;
    min-width: 190px;
    min-height: 70px;
    font-size: 14px;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    height: 60px;
    width: 170px;
    background-color: #f8ea49;
    border-radius: 8px;
    border: 2px solid #f8ea49;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-input ::placeholder{
    color: #ffffff;
    opacity: .9;
}

/* CSS for Instructors  */
.instructors{
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.insta-title{
    font-family: "Comfortaa", cursive;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper{
    display: flex;
    justify-content:space-evenly;
    gap: 25px;
}
.inst-name{
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -.02em;
    margin-top: 28px;
    cursor: pointer;
}
.inst-content .inst-name:hover{
    color: #0473db;
}
.inst-content img:hover{
    transform: scale(1.05); 
    transition: .3s ease;
}
.inst-desc{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-top: 5px;
    text-align: center;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .05em;
    color: #777777; 
}
.social-icon{
    width: 100%;
    display: flex;
    /* background-color: #f8ea49; */
    justify-content: center;
    align-items: center;
}
.social-icon>p{
    font-size: 20px;
    margin-top: 15px;
    color: #151515;  
    padding: 8px;
    cursor: pointer;
    
}
.social-icon>p:hover{
    transition: .5s;
    color: #0473db;
}


/* Css for Blog section  */
.blog{
    /* height: 500px; */
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #eff3f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.blog-title{
    font-family: "Comfortaa", cursive;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 50px;   
}
.blog-cards{
    height: 500px;
    background-color: #eff3f8;
    display: flex;
    justify-content: space-between;

}
.card{
    width: 31.5%;
    height: 100%;
    background-color:white;
    
}
/* .blog-cards .card:hover{
    
} */
.card img{
    width: 100%;
}
.card img:hover{
    transition: .4s;
    transform: scale(1.1);
    cursor: pointer;
}

.blog-content{
    text-align: left;
    padding: 34px 7% 45px;
    /* background-color: #e1e1e1; */
}
.blog-content .blog-date{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    color: #777777;
    letter-spacing: .05em;
    /* line-height: 1.6; */
}
.blog-content .blog-head{
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
    line-height: 1.36364;
    cursor: pointer;
}
.blog-content .blog-head:hover{
    color: #0473db;
}
.blog-content .blog-details{
    font-size: 15px;
    margin-top: 18px;
    line-height: 1.74;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    letter-spacing: .05em;
    color: #777777;
}

 /* Css for Footer  */

 .footer{
    height: 350px;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #2a333f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-main{
    height: 250px;
}

.footer-gallery{
    width: 35%;
    /* background-color:darkorange; */
}
.gallery-title{
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
}
.footer-gallery img{
    padding-right: 5px;
    margin-bottom: 5px;
}

.footer .footer-details{
    height: 250px;
    width: 25%;
    color: white;
    /* background-color:tomato; */

}
.inner-details{
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    width: 100%;
    color: white; 
    margin-bottom: 25px;   
}
.icon{
    width: 35px;
    color: #f8ea49;
    font-size: 18px;
}

.footer-main{
    display: flex;
    justify-content: space-between;
}
.footer-details .details-title{
    font-family: "Comfortaa", cursive;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
}
.footer-details>ul>li{
    list-style-type: none;
}

/* Css for Quick links  */
 
.quick-links{
    font-family: "Lato", 'sans-serif';
    padding-right: 15px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .05em;
    /* padding-left: 15px; */
    width: 40%;
    /* background-color: lightseagreen; */
    margin-bottom: 50px;
    color: white;
    
}
.quick-links>ul>li{
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    transition: .4s;
    cursor: pointer;
}
.quick-links>ul>li:hover .link-line{
    width: 34px; 
}
.quick-links>ul>li:hover{
    color: #0473db;
}
.link-line{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    height: 2px;
    width: 17px;
    margin-right: 15px;
    transition: .4s;
}
.contact-details{
    line-height: 24px;
    letter-spacing: 0.75px;  
}
.contact-details:hover{
    color: #0473db;
    cursor: pointer;
}

.social-media-icons{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.social-media-icons>p{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transition: .4s;
}
.social-media-icons>p:hover{
    color: #0473db;
    border: 1px solid #0473db;
    cursor: pointer;
}


.descr{ 
    height: 100px;
    width: 100%;
    border-top: 1px solid #777777;
    /* background-color:black; */
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    font-size: 15px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 350px;
}
 