    /* google fonts import */
    
    /* for heading  */
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap');

    /* for normal text  */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    /* Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

 /* global css */



 /* CSS for banner */
 .banner{
    height: 97vh;
    width: 100%;
    background-image: url('/img/slide-1.jpg');
    background-size: cover;
    display: flex;
    justify-content:space-between;
    align-items:center;  
     
}
.pre-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 10px;
    letter-spacing: 1px;
}
.slider_btn{
    cursor: pointer;
}
.slider_btn:hover > .btn-line{
    transform: scaleX(.6);
}


.pre-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 10px;
    transition: .3s;
}


.banner-content{
    height: 90%;
    width: 60%;
    background-color:white
}
.next-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 17px;
    letter-spacing: 1px;
}
 


.next-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 17px;
    transition: .3s;
}