    /* google fonts import */
    
    /* for heading  */
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

    /* for normal text  */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

    /* Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    /* Normal text  */
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

 /* global css */
.container{
    width: 60%;
    display: flex;
}
.title{
    font-family: 'Comfortaa', cursive;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    margin-top: 65px;
}


 /* CSS for banner */
 .banner{
    height: 97vh;
    width: 100%;
    background-image: url('/img/slide-1.jpg');
    background-size: cover;
    display: flex;
    justify-content:space-between;
    align-items:center;  
     
}
.pre-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 10px;
    letter-spacing: 1px;
}
.slider_btn{
    cursor: pointer;
}
.slider_btn:hover > .btn-line{
    transform: scaleX(.6);
}
.pre-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 10px;
    transition: .3s;
}
.banner-content{
    height: 90%;
    width: 60%;
    /* background-color:white; */
}
.header{
    color: white;
    width:100%;
    height: 60px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.child{
    font-family: 'Lato', sans-serif;
    width: 25%;
    /* background-color:darkgray; */
    font-weight: 400;
}
.child:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: flex-start;
} 
.child:nth-child(3){
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}
.en{
    color: black;
    font-size: 17px;
    height: 32px;
    width: 32px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
}

/* css for navigation */
.nav{
    margin-top: 30px;
    width: 100%;
    height: 70px;
    border-top:1px solid rgba(255, 255, 255, 0.23);
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
    display: flex;
    justify-content: center;
    /* background-color: white; */
}
.nav>ul{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.nav>ul>li{
    font-family: 'Poppins', sans-serif;
    list-style-type:none;
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 70px;
    transition: 0.3s;
    cursor: pointer;
}
.nav>ul>li:hover{
    color: #f8ea49;
}
.nav>ul>li:first-child{
    color: #f8ea49;
}

/* css for banner-content  */
.banner-details{
    margin-top: 90px;
    width:100%;
    height: 400px;
    /* background-color: white; */
}
.banner-details .heading{
    color: white;
    font-size: 42px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}
.banner-details .banner-para{
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    color: #FFFFFF80;
} 
.banner-details .banner-btn .btn{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    height: 60px;
    width: 170px;
    background-color: #f8ea49;
    border-radius: 8px;
    border: 2px solid #f8ea49;
}

.next-button{
    height: 60px;
    width: 3.5%;
    background-color:rgba(255, 255, 255, 0.2);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight:600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-indent: 17px;
    letter-spacing: 1px;
}

.next-button>.btn-line{
    width: 50%;
    height: 2px;
    display: inline-block;
    background-color: white;
    margin-top: 2px;
    margin-left: 17px;
    transition: .3s;
}

/* Css for Destination  */

.destination{
    height: 650px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.dest-cards{
    margin-top: 40px;
    height: 400px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.dest-cards .cards{
    height: 60%;
    width: 31.5%;
    border: 1px solid gray;
    /* background-color: yellow;    */
    /* border: 2px solid black; */
}   
.cards .card-heading{
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .02em;
}
.cards .card-para{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #777777;
    text-align: center;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .02em;
}

/* Css for features section  */
.features{
    width: 100%;
    height: 625px;
    background-image: url('/img/BG_hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.equipment{
    width: 38%;
    height: 350px;
    
} 
.equipment:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items:flex-end;
}
.eq{
    width: 50%;
    height: 175px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.eq-child{
    width: 100%;
    display: flex;
    justify-content:space-around;
}
.rf{
    text-align: right;
}
.eq-title{
    font-family: 'Comfortaa', cursive;
    font-size: 26px;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    
}
.eq-title:hover{
    color: #0473db;
}
.eq-para{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    line-height: 22px;
    letter-spacing: .025em;
}
.brd{
    border-bottom:1px solid #e1e1e1;
}
.equipment>.eq:nth-child(2){
    align-items: flex-end;
}


/* css for statistics */
.details{
    height: 400px;
    width: 100%;
    background-image: url('/img/stats_bg.jpg');
    display: flex;
    flex-direction: column;
    align-items:center;

}

.details .stats{
    /* width: 100%; */
    height: 400px;
    /* background-color: cornflowerblue; */
    display: flex;
    justify-content:space-between;
    align-items: center ;
  
}

.details .stats .child{
    height: 200px;
    width: 200px;
    background-color:white;
    text-align: center;
}
.details .stats .child .number{
    font-family: 'Comfortaa', cursive;
    font-size: 58px;
    font-weight: 700;
}
